venv*/
.venv*/
**__pycache__/
**.egg-info/
build/
dist/

data_buffer/*
data_out/*
config_files/*

workbench.ipynb

**/*.db
**/*.csv
**/*.json


**/*.xlsx
**/*.xls
**/*.txt
**/*.html
**/*.spss
**/*.sav
**/*.sas7bdat
**/*.dta
**/*.stata
**/*.dat

!config_files/demo1.*
!data_in/demo1_dataset/**/*/
!requirements*
!data_in/demo1_dataset/**/*