venv*/
.venv*/
**__pycache__/
**.egg-info/
build/
dist/

data_in/*
data_buffer/*
data_out/*
config_files/*

workbench.ipynb
wheelhouse.zip

!config_files/demo1.json
!config_files/demo1.toml
!data_in/demo_dataset/
!requirements.txt



**/*.db
**/*.csv
**/*.json


**/*.xlsx
**/*.xls
**/*.txt
**/*.html
**/*.spss
**/*.sav
**/*.sas7bdat
**/*.dta
**/*.stata
**/*.dat

